<span id="worldname"> {{world.name}} </span>
<div class="header">
  <img [attr.src]="server+'/'+world.logo" />
  <span [innerHTML]="world.money | bigvalue"> </span>
  <span id="multiplier"> {{world.angelbonus}} </span>
  <span id ="score"> {{world.score}}</span>
  <div> ID du joueur </div>
  <button id="commutateur" onclick="">Commutateur</button>
</div>
<div class="main">
  <div>
    <p>liste des boutons de menu</p>
    

  <input type="button" id="manaButton" value="Héros" (click)="showManagers=!showManagers"/> 
      
    <div *ngIf="showManagers" class="modal">
    <div>
      <h1 class="title">Managers make you feel better !</h1>
    </div>
    <div>
      <div *ngFor="let manager of world.managers">
        <div *ngIf="!manager.unlocked" class="managerslayout">
          <div>
            <div class="logo"><img class="round" [attr.src]="server+manager.logo" /> </div>
          </div>
          <div>
            <div class="managername"> {{ manager.name}} </div>
            <div class="managercible"> {{ world.products[manager.idcible-1].name }} </div>
            <div class="managercost"> {{ manager.seuil}} </div>
          </div>
          <div>
            <div class="hirebutton" (click)="hireManager(manager)"
              [ngClass]="{'selectable' : (world.money >= manager.seuil)}">Hire !</div>
          </div>
        </div>
      </div>
      <button class="closebutton" mat-raised- button color="primary"
        (click)="showManagers = !showManagers">Close</button>
    </div>
  </div>




    <li>Upgrades</li>
    <li>Patrons</li>
  </div>

  <div class="product">
    <app-product [money]="world.money" [prod]="world.products[0]" (notifyProduction)="onProductionDone($event)" [qtmulti]="commutateur"/>
    <app-product [money]="world.money" [prod]="world.products[1]" (notifyProduction)="onProductionDone($event)" [qtmulti]="commutateur"/>
    <app-product [money]="world.money" [prod]="world.products[2]" (notifyProduction)="onProductionDone($event)" [qtmulti]="commutateur"/>
    <app-product [money]="world.money" [prod]="world.products[3]" (notifyProduction)="onProductionDone($event)" [qtmulti]="commutateur"/>
    <app-product [money]="world.money" [prod]="world.products[4]" (notifyProduction)="onProductionDone($event)" [qtmulti]="commutateur"/>
    <app-product [money]="world.money" [prod]="world.products[5]" (notifyProduction)="onProductionDone($event)" [qtmulti]="commutateur"/>
  </div>

</div>

<router-outlet />