<span id="worldname"> {{world.name}} </span>
<div class="header">
  <img [attr.src]="server+world.logo" />
  <div> argent </div>
  <div> multiplicateur </div>
  <div> ID du joueur </div>
</div>
<div class="main">
  <div> liste des boutons de menu </div>
  <div class="product">
    <app-product [money]="world.money" [product]="world.products[0]" />
    <app-product [money]="world.money" [product]="world.products[1]" />
    <app-product [money]="world.money" [product]="world.products[2]" />
    <app-product [money]="world.money" [product]="world.products[3]" />
    <app-product [money]="world.money" [product]="world.products[4]" />
    <app-product [money]="world.money" [product]="world.products[5]" />
  </div>
</div>

<router-outlet />